@rendermode InteractiveServer
@using WordLearner.Domain.WordAggregate
@if(Question != null)
{
    <div style="padding-inline:32px;min-height:50px">
        <em>What this word means?</em>
        <h3 class="question-item @AnswerStateClass">@Question.Content</h3>
        <QuestionChoices OnAnswer="HandleAnswer" OnPickedChoice="OnPickedChoice" Question="Question"></QuestionChoices>
    </div>

}
else
{
    <div style="font-size:1.5rem">Please Wait...</div>
}
@code {
    [Parameter]
    public EventCallback<bool> OnPickedChoice { get; set; }
    [Parameter]
    public EventCallback<bool> OnAnswer { get; set; }
    [Parameter]
    public Question Question { get; set; }

    public string AnswerStateClass { get; set; } = "";


    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if(!firstRender)
        {
            AnswerStateClass = "";
        }
    }

    public async Task HandleAnswer(bool correct)
    {
        if(correct)
        {
            AnswerStateClass = "correct";
        }
        else
        {
            AnswerStateClass = "incorrect";
            await Task.Delay(3000);
            AnswerStateClass = "";
        }
        
    }
}