@using WordLearner.Domain.WordAggregate
@rendermode InteractiveServer
@if(Question != null)
{
    <div class="question-choices">
        @foreach (var choice in Question.Choices)
        {
            var key = Guid.NewGuid().ToString();
            var correct = Question.Choices.IndexOf(choice) == Question.CorrectChoiceIndex;
            <QuestionChoiceItem @key="key" OnAnswer="OnAnswer"  OnPickedChoice="OnPickedChoice" Correct="correct" Choice="@choice"></QuestionChoiceItem>
        }
    </div>
}

@code {
    [Parameter]
    public EventCallback<bool> OnPickedChoice { get; set; }
    [Parameter]
    public EventCallback<bool> OnAnswer { get; set; }
    [Parameter]
    public Question Question { get; set; }
}