@using WordLearner.Domain.WordAggregate
@if(Question != null)
{
    <details style="padding-inline:32px;min-height:50px">
        <summary>
            <h3 style="margin:0">@Question.Content</h3>
        </summary>
        <QuestionChoices Question="@Question"></QuestionChoices>
    </details>

}
else
{
    <div>there was an error!</div>
}
@code {
    [Parameter]
    public Question Question { get; set; }

}