@using WordLearner.Domain.WordAggregate
@if(Question != null)
{
    <div class="question-choices">
        @foreach (var choice in Question.Choices)
        {
            var correct = Question.Choices.IndexOf(choice) == Question.CorrectChoiceIndex;
            <QuestionChoiceItem @key=Question.Choices.IndexOf(choice) OnPickedChoice="OnPickedChoice" Correct="correct" Choice="@choice"></QuestionChoiceItem>
        }
    </div>
}

@code {
    [Parameter]
    public EventCallback<bool> OnPickedChoice { get; set; }
    [Parameter]
    public Question Question { get; set; }
}