@page "/"

<PageTitle>Home - Word Learn</PageTitle>

<article>
    <h2>Welcome!</h2>
    <WordLearner.FrontendBlazor.Components.Apps.QuizApp.QuizAppShell></WordLearner.FrontendBlazor.Components.Apps.QuizApp.QuizAppShell>
</article>