@page "/"
@using WordLearner.Domain.Services
@using WordLearner.Domain.WordAggregate
@inject IWordService wordService
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<article>
    <p>
        What this word means?
    </p>

    @{
       // TODO: create a component for getting a new word
    }
    @if(Word != null)
    {
        <details>
            <summary>
                <h3>@Word.Content</h3>
            </summary>
            <p>
                @Word.TargetWord.Content
            </p>
        </details>
        <hr />
        <button @onclick="GetWord">Get Another</button>
    }
    else
    {
        <p>This is odd. Anyway, click to get your word.</p>
        <button @onclick="GetWord">Get Word!</button>
    }
</article>



@code {
    public Translation? Word { get; set; }

    public void GetWord()
    {
        Word = wordService.GetRandomWord("de");

    }
}