@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
<PageTitle>Home - Word Learn</PageTitle>

<article>
    <AuthorizeView>
        <Authorized>Welcome </Authorized>
        <NotAuthorized>
            <a href="/Account/Login">Login to get personalized questions</a>
        </NotAuthorized>
    </AuthorizeView>
    <hr />
    <WordLearner.FrontendBlazor.Components.Apps.QuizApp.QuizAppShell></WordLearner.FrontendBlazor.Components.Apps.QuizApp.QuizAppShell>
</article>

@code {
    
}